body {
  font-family: sans-serif;
}

h1,
h2,
p {
  text-align: center;
}

small {
  display: block;
}

ul {
  margin: 1em;
  padding: 0;
}

li {
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 1em 0;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.box {
  background-color: #dfe6e9;
  border-radius: 1em;
  margin: 1em;
  padding: 1em;
  max-width: 400px;
  overflow: hidden;
}

video {
  width: 100%;
}

picture {
  margin: 0;
  padding: 0;
}

picture img {
  width: 100%;
}
